doctype html
html( lang='ru' )
	head
		mata( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )

		title Регистрация учителя

		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )

		// Bootstrap Core CSS
		link( href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" )

		// Font Awesome
		link( href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" )

		// bootstrap-daterangepicker
		link( href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" )

		// jQuery
		script( src="/vendors/jquery/dist/jquery.min.js" )

		//Custom CSS	
		link( href="/css/custom.css" rel="stylesheet" )

	body( class="nav-md" )
		div( class="container body" )
			div( class="main_container" )
				div( class="col-md-3 left_col" )
					div( class="left_col scroll-view" )
						div( class="navbar nav_title" style="border: 0;" )
							a( href="/" class="site_title" )
								img( src="/images/logo.svg" )
								span Admin Panel
						div( class="clearfix" )
						br
						include ./includes/sidebar

				include ./includes/navigation

				div( class="right_col" role="main" )
					div( class="" )
						div( class="page-title" )
							div( class="title_left" )
								h3 Форма регистрации учителя
						div( class="clearfix" )
						div( class="row" )
							div( class="col-md-12 col-sm-12 col-xs-12" )
								div( class="x_panel" )
									div( class="x_title" )
										h2 Регистрация
										div( class="clearfix" )
									div( class="x_content" )
										br
										form( data-toggle="validator" class="form-horizontal form-label-left" onsubmit="return false" )
											div( class="form-group" )
												label( class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" ) ФИО: #[span( class="required" ) *]
												div( class="col-md-6 col-sm-6 col-xs-12" )
													input( type="text" id="fullname" class="form-control col-md-7 col-xs-12" required )
													div( class="help-block with-errors" )
											div( class="form-group" )
												label( class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" ) E-mail: #[span( class="required" ) *]
												div( class="col-md-6 col-sm-6 col-xs-12" )
													input( type="email" id="email" name="email" class="form-control col-md-7 col-xs-12" required )
													div( class="help-block with-errors" )
											div( class="form-group" )
												label( for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12" ) Пароль: #[span( class="required" ) *]
												div( class="col-md-6 col-sm-6 col-xs-12" )
													input( class="form-control col-md-7 col-xs-12" data-minlength="6" placeholder="Не менее 6 символов" data-error="К сожалению, Ваш пароль слишком короткий" type="password" id="password" required )
													div( class="help-block with-errors" )
											div( class="form-group" )
												label( for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12" ) Телефон: #[span( class="required" ) *]
												div( class="col-md-6 col-sm-6 col-xs-12" )
													input( class="form-control col-md-7 col-xs-12 bfh-phone" data-format="+7 (ddd) ddd-dd-dd" type="text" id="tel" required )
													div( class="help-block with-errors" )
											div( class="form-group" )
												label( class="control-label col-md-3 col-sm-3 col-xs-12" ) Предмет:
												div( class="col-md-6 col-sm-9 col-xs-12" )
													select( class="form-control col-md-7 col-xs-12" id="subject" )
														option Математика
														option Информатика
														option Физика
														option Химия
														option Биология
											div( class="form-group" )
												label( class="control-label col-md-3 col-sm-3 col-xs-12" ) Пол:
												div( class="col-md-6 col-sm-9 col-xs-12" )
													select( class="form-control col-md-7 col-xs-12" id="sex" )
														option Не указано
														option Мужской
														option Женский
											div( class="ln_solid" )
											div( class="form-group" )
												div( class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" )
													button( class="btn btn-primary" type="reset" ) Сбросить
													button( type="submit" class="btn btn-success" id="reg-teacher" ) Отправить
										div( class="row" )
											div( class="alerts col-md-6 col-md-offset-3" )
						
													
				footer
					div( class="pull-right" ) Admin Panel - MathLab.kz
					div( class="clearfix" )

		
		// Bootstrap
		script( src="/vendors/bootstrap/dist/js/bootstrap.min.js" )
		// FastClick
		script( src="/vendors/fastclick/lib/fastclick.js" )
		// bootstrap-progressbar
		script( src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" )
		// bootstrap-daterangepicker
		script( src="/vendors/moment/min/moment.min.js" )
		script( src="/vendors/bootstrap-daterangepicker/daterangepicker.js" )
		script( src="/js/validator.js" )
		script( src="/js/formhelpers.min.js" )
		script( src="/js/custom.min.js" )
		script( src="/js/reg-teacher.js" )