footer
	div( class="container" )
		div( class="row" )
			div( class="col-md-6 md-text-center")
				p Все права защищены 2017 © MathLab.kz
			div( class="col-md-6 text-right md-text-center")
				p Разработка и поддержка сервиса:&nbsp;
					a( href="http://quve.kz" target="_blank" ) Quve.kz