/* Fonts */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* End Fonts */

body {
    background-color: #F2F4F7;
    color: #354251;
    font-family: "OpenSans" , Helvetica, Arial;
}

footer {
  margin: 80px 0 30px;
  padding: 40px 0;
  border-top: 3px solid #ebedef;
  color: #7b7b7b;
  font-size: 12px;
  font-weight: 300;
}

.main-content {
    margin-top: 30px;
}

.form-head {
    margin: 20px 0 5px;
}

@media (max-width: 991px) {
  .main-content {
    margin-top: 0px;
  }

  .form-head {
    margin: 0px 0 5px;
  }
}


.form-head-reg {
    padding-top: 30px;
    padding-right: 0;
    font-size: 13px;
}

.form, .base {
    padding: 20px;
    border: 1px solid #DCE1E8;
    border-radius: 1px;
    background: #fff;
    overflow: hidden;
}

.base .nav-tabs {
    margin: 0 -20px;
}

.form button {
    height: 40px;
}

.forms {
    position: relative;
}

.questions {
    overflow-y: scroll;
    overflow-x: hidden;
}

.hide-form {
    display: none;
}

.btn-md {
    height: 40px;
    padding: 10px 12px;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links li {
    display: inline-block;
    padding: 0 5px;
}

.footer-links li a {
    color: #788594;
}

.footer-links li a img {
    width: 25px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.footer-links li a img:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .md-text-center {
        text-align: center !important;
    } 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.form-pagination {
    margin: auto;
    font-size: 12px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #dce1e8;
    position: relative; 
}

.form-pagination-progress {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 33%;
    border-bottom: 2px solid #8c9eae;
}

.disabled-page {
    color: #777;
    cursor: no-drop;
    pointer-events: none;
}

.question-block {
    padding: 10px 20px;
    margin: 5px -20px;
    border-top: 1px solid #dce1e8;
}

.questions form {
    margin-left: 5px;
}

.loader {
    position: absolute;
    top: 45%;
    left: calc(50% - 20px);
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.confirm-info {
    padding-bottom: 10px;
}

.profile, .teaher-profile {
    display: block;
}


.profile-img {
    margin: auto;
}

.profile-img img {
   width: 130px;
}

.teacher-profile img {
   width: 130px; 
}

.teacher-profile p {
   margin-top: 10px; 
}

.profile-info {
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #dce1e8;
}

.profile-info h6, .teacher-profile h6 {
    color: #7b7b7b;
}

.profile-contacts {
    margin: 15px auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dce1e8;
}

.profile-contacts h5 {
    margin: 15px auto
}

.sub {
    color: #7b7b7b;
    font-weight: 400;
}

.profile-content {
    margin-top: 20px;
}

.courses, .courses-history, .calendar, .nodes {
    display: block;
}

.courses td {
    border: none !important;
}

.course {
    padding: 10px;
    border: 1px solid #dce1e8;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0.6;
}

.active-course {
    opacity: 1;
}

.course-header, .course-footer {
    display: flex;
}

.course-info-img img {
    width: 50px;
}

.course-info-titles {
    margin: 0 10px;
}

.course-info-titles h5 {
    margin: 5px 0;
    max-width: 247px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info-titles h6 {
    margin: 5px 0;
}

.course-dates {
    display: block;
    font-size: 11px;
}

.attachment, .send-button {
  display: block;
  position: relative;
  font-size: 22px;
  color: #a8adb8;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
}

.message-input-block {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
  pointer-events: none;
}

.message-input {
  height: 40px;
  border: 1px solid #DCE1E8;
  border-radius: 1px;
  background: #fff;
  padding: 10px 10px;
  outline: none;
  overflow-y: scroll;
}

.no-padding {
  padding: 0 !important;
}

.relative {
  position: relative;
}

.messages-block {
  height: 500px;
  padding: 15px 30px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  position: relative;
}

.messages {
  display: block;
}

.message {
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.message-img {
  margin-right: 10px;
}

.message-img img {
  width: 40px;
}

.message-body {
  display: block;
  font-size: 13px;
}

.message-body h5, .attachment-document h5 {
  margin: 5px 0;
  font-weight: bolder;
  color: #3a65a7;
  font-size: 13px;
}

.message-body ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.message-body li {
  margin-bottom: 5px;
}

.messages-content {
  display: block;
}

.message-attachment {
  margin: 0;
  display: flex;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.message-attachment:hover {
  background: #f2f4f7;
}

.message-attachment-img {
  margin-right: 10px;
}

.message-attachment-img a {
  color: #fff;
  font-size: 22px;
  border-radius: 2px;
}

.message-attachment-body {
  display: block;
}

.message-attachment-body h5 {
  margin: 5px 0;
}

.message-attachment-body h6 {
  margin: 5px 0;
}

.img-100-p {
  width: 180px;
  padding: 15px;
}

.no-margin {
  margin: 0 !important;
}

.landing {
  background-color: #fff !important;
  color: #333;
}

.landing-head {
  height: 100vh;
  padding-top: 15vh;
  background-image: -webkit-linear-gradient(45deg, #00537e, #136d7e 33%, #3aa17e);
  background-image: linear-gradient(45deg, #00537e, #136d7e 33%, #3aa17e);
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
}

.landing-head h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

.start-button {
  padding-top: 10px;
}


@media (max-width: 991px) {
  .landing-head h1 {
    font-size: 30px;
    text-align: center;
  }

  .landing-head {
    padding-top: 30vh;
  }

  .start-button {
    padding-top: 15px;
  }

  .start-button a {
    padding: 6px 12px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .landing-head h1 {
    font-size: 26px;
  }
}

.landing-lamp img {
  width: 60%;
}


.landing-text {
  padding: 10px 0;
  font-size: 15px;
}

.article-title {
  font-size: 33px;
  margin-bottom: 40px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.article-p {
  font-size: 17px;
}

.article {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.article img {
  width: 60%;
}

@media (max-width: 991px) {
  .article-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .article-p {
    font-size: 15px;
    padding-top: 20px;
  }

  .article {
    margin-bottom: 20px;
  }

  .article img {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .article img {
    width: 40%;
  }
  
  .article {
    margin-bottom: 20px;
    display: inherit;
    align-items: inherit;
  }
}

.landing-comment {
  border-radius: 2px;
  padding: 30px 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(214, 214, 214);
  -moz-box-shadow: 0px 0px 5px 0px rgb(214, 214, 214);
  box-shadow: 0px 0px 5px 0px rgb(214, 214, 214);
}

.landing-comment-body {
  display: block;
}

.landing-comment-body img {
  width: 150px;
}

.landing-comment-body h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.landing-comment-body h6 {
  color: #7b7b7b;
  margin-top: 5px;
}

.landing-comment-body blockquote {
  border-left: 2px solid #e3e3e3;
  margin: 0;
}

.error-alerts {
  position: absolute;
  top: 60px;
  left: 7px;
}

.interface-img {
  width: 100%;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}
.kv-avatar .file-input {
  margin: auto;
}

.focus-none {
  outline: none !important;
  color: #354251 !important;
  background-color: #fff !important;
  border-color: #DCE1E8 !important;
}

.focus-none.active {
  outline: none !important;
  color: #354251 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.focus-none.focus {
  outline: none !important;
  color: #354251 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.teachers-list tr {
  cursor: pointer !important;
}

.teachers-list td {
  vertical-align: baseline !important;
}

.teachers-list-img {
  width: 40px;
}

.list-links {
  padding-left: 0;
  margin-bottom: 0 !important;
}

.list-links li {
  list-style-type: none;
  text-align: center;
  font-size: 13px;
}

.list-links li a {
  color: #4e6982;
  line-height: 1.5;
}

.all-teachers-link {
  color: #7b7b7b !important;
  font-size: 12px;
  font-weight: 300;
}

.ad-lock {
  width: 170px;
  padding: 15px;
}

.margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.attachment-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.attachment label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.attachment label:hover {
  background: #e0e0e0;
}

.message-date {
  position: absolute;
  right: 0;
  top: 5px;
}

.message-date span {
  font-size: 11px;
  color: #bbbbbb;
}

.landing-h4 {
  cursor: pointer;
}

.landing-h4 i {
  font-size: 90%;
}

.landing-collapses {
  padding-bottom: 10px;
}

.landing-teacher {
  background-color: #ffffff !important;
  height: 405px;
}

@media (max-width: 991px) {
  .landing-teacher {
   margin-bottom: 20px;
  }
  .landing-comment {
    margin-bottom: 20px;
  }
}

.nav-anchor {
  padding-bottom: 30px;
}

.attachments-block {
  display: block;
}

.attachment-document {
  display: flex;
}

.attachment-document-img {
  margin: 0;
}

.attachment-document-img span {
  color: #fff;
  font-size: 20px;
  border-radius: 2px;
}

.upload-attachment {
  padding: 10px 10px 0;
}

.contacts-bg {
  background-color: #f6f7eb;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

@media (max-width: 991px) {
  .contacts-bg {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.center-cropped {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;
}

.img-130 {
  width: 130px;
  height: 130px;
}

.img-50 {
  width: 50px;
  height: 50px;
}

.img-40 {
  width: 40px;
  height: 40px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

.panel-heading {
  background-color: #fff !important;
}

.panel-footer {
  background-color: #fbfbfb !important;
}

.panel-heading-img {
  margin: -6px 10px -6px 0;
  float: left;
}

.panel-heading-icon {
  width: 16px !important;
  margin-left: 10px !important;
  cursor: pointer;
  opacity: .7;
  transition: all 0.2s ease-in-out;
}

.panel-heading-icon:hover {
  opacity: 1;
}

.dropdown-menu {
  border: 1px solid #dce1e8 !important;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .175) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .175) !important;
}

.messages-loader-block {
  position: relative;
  height: 40px;
}

.messages-loader {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.send-message-loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  text-align: center;
  margin: auto;
}

.empty-dialog {
  display: none;
  position: absolute;
  top: 40%;
  left: calc(50% - 150px);
}

.course-info-li {
  color: #232e3a;
}

.dropdown-header {
  border-bottom: 1px solid #dce1e8;
}

.contacts-block {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contacts-block img {
  width: 60px;
}

.payment-method {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 6px; 
}

.payment-method img {
  height: 40px;
  margin: 30px auto 10px;
}

@media (max-width: 991px) {
  .contacts-block {
    display:inherit;
    font-size: 14px;
  }

  .contacts-block p {
    padding-top: 20px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contacts-block {
    font-size: 12px;
    padding-top: 15px;
  }
}

#loader-md{
  width:56px;
  margin:auto;
}

blockquote footer {
  margin: 0 !important;
  padding: 0 !important;
  border-top: none !important; 
}

.loader-md{
  background-color: rgb(222, 226, 232);
  float:left;
  height:12px;
  margin-left:6px;
  width:12px;
  animation-name:bounce_loader-md;
    -o-animation-name:bounce_loader-md;
    -ms-animation-name:bounce_loader-md;
    -webkit-animation-name:bounce_loader-md;
    -moz-animation-name:bounce_loader-md;
  animation-duration:0.5875s;
    -o-animation-duration:0.5875s;
    -ms-animation-duration:0.5875s;
    -webkit-animation-duration:0.5875s;
    -moz-animation-duration:0.5875s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}

#loader-md_1{
  animation-delay:0.1195s;
    -o-animation-delay:0.1195s;
    -ms-animation-delay:0.1195s;
    -webkit-animation-delay:0.1195s;
    -moz-animation-delay:0.1195s;
}

#loader-md_2{
  animation-delay:0.2755s;
    -o-animation-delay:0.2755s;
    -ms-animation-delay:0.2755s;
    -webkit-animation-delay:0.2755s;
    -moz-animation-delay:0.2755s;
}

#loader-md_3{
  animation-delay:0.3485s;
    -o-animation-delay:0.3485s;
    -ms-animation-delay:0.3485s;
    -webkit-animation-delay:0.3485s;
    -moz-animation-delay:0.3485s;
}



@keyframes bounce_loader-md{
  0%{}

  50%{
    background-color: rgb(242, 244, 247);
  }

  100%{}
}

@-o-keyframes bounce_loader-md{
  0%{}

  50%{
    background-color: rgb(242, 244, 247);
  }

  100%{}
}

@-ms-keyframes bounce_loader-md{
  0%{}

  50%{
    background-color: rgb(242, 244, 247);
  }

  100%{}
}

@-webkit-keyframes bounce_loader-md{
  0%{}

  50%{
    background-color: rgb(242, 244, 247);
  }

  100%{}
}

@-moz-keyframes bounce_loader-md{
  0%{}

  50%{
    background-color: rgb(242, 244, 247);
  }

  100%{}
}

#loader-sm{
  width:56px;
  margin:auto;
}

.loader-sm{
  background-color: rgb(163, 167, 173);
  float:left;
  height:5px;
  margin-left:6px;
  width:5px;
  animation-name:bounce_loader-md;
    -o-animation-name:bounce_loader-md;
    -ms-animation-name:bounce_loader-md;
    -webkit-animation-name:bounce_loader-md;
    -moz-animation-name:bounce_loader-md;
  animation-duration:0.5875s;
    -o-animation-duration:0.5875s;
    -ms-animation-duration:0.5875s;
    -webkit-animation-duration:0.5875s;
    -moz-animation-duration:0.5875s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
}

#loader-sm_1{
  animation-delay:0.1195s;
    -o-animation-delay:0.1195s;
    -ms-animation-delay:0.1195s;
    -webkit-animation-delay:0.1195s;
    -moz-animation-delay:0.1195s;
}

#loader-sm_2{
  animation-delay:0.2755s;
    -o-animation-delay:0.2755s;
    -ms-animation-delay:0.2755s;
    -webkit-animation-delay:0.2755s;
    -moz-animation-delay:0.2755s;
}

#loader-sm_3{
  animation-delay:0.3485s;
    -o-animation-delay:0.3485s;
    -ms-animation-delay:0.3485s;
    -webkit-animation-delay:0.3485s;
    -moz-animation-delay:0.3485s;
}



@keyframes bounce_loader-sm{
  0%{}

  50%{
    background-color: rgb(209, 212, 218);
  }

  100%{}
}

@-o-keyframes bounce_loader-sm{
  0%{}

  50%{
    background-color: rgb(209, 212, 218);
  }

  100%{}
}

@-ms-keyframes bounce_loader-sm{
  0%{}

  50%{
    background-color: rgb(209, 212, 218);
  }

  100%{}
}

@-webkit-keyframes bounce_loader-sm {
  0%{}

  50%{
    background-color: rgb(209, 212, 218);
  }

  100%{}
}

@-moz-keyframes bounce_loader-sm {
  0%{}

  50%{
    background-color: rgb(209, 212, 218);
  }

  100%{}
}