nav( class="navbar navbar-inverse navbar-fixed-top no-margin" )
	div( class="container-fluid" )
		div( class="navbar-header" )
			button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" )
				span( class="sr-only" ) Меню
				span( class="icon-bar" )
				span( class="icon-bar" )
				span( class="icon-bar" )
			a( class="navbar-brand" href="/" )
				img( src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" itemprop="logo" )
				span MathLab.kz
		div( class="collapse navbar-collapse" id="navbar-collapse" )
			ul( class="nav navbar-nav" )
				li
					a( href="/" )
						i( class="fa fa-home" aria-hidden="true" )
						| &nbsp; Главная
				li
					a( href="/how-to-use" target="_blank" )
						i( class="fa fa-graduation-cap" aria-hidden="true" )
						| &nbsp; Как проходит обучение
				li
					a( href="/prices" target="_blank" )
						i( class="fa fa-usd" aria-hidden="true" )
						| &nbsp; Расценки и способы оплаты
			ul( class="nav navbar-nav navbar-right" )
				li
					a( href="/sign-up" )
						i( class="fa fa-user-plus" aria-hidden="true" )
						| &nbsp; Регистрация
