doctype html
html( lang='ru' )
	head

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="" )
		meta( name="author" content="Quve Development" )

		title Восстановление забытого пароля

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/default.css" rel="stylesheet" )

		//Scripts
		script( src="/js/jquery.min.js" )
		script( src="/js/validator.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->

	body

		// NAVBAR
		nav( class="navbar navbar-inverse" )
			div( class="container-fluid" )
				div( class="navbar-header" )
					button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" )
						span( class="sr-only" ) Меню
						span( class="icon-bar" )
						span( class="icon-bar" )
						span( class="icon-bar" )
					a( class="navbar-brand" href="/" )
						img( src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" )
						span(itemprop="brand") MathLab.kz
				div( class="collapse navbar-collapse" id="navbar-collapse" )
					ul( class="nav navbar-nav" )
						li
							a( href="/" )
								i( class="fa fa-home" aria-hidden="true" )
								| &nbsp; Главная

		// CONTENT
		div( class="container main-content" id="send-feedback" )
			div( class="row" )
				div( class="col-md-8 col-md-offset-2" )
					div( class="row form-head" )
						div( class="col-xs-12 nopadding" )
							h3 Восстановление забытого пароля
					div( class="form" )
						form( data-toggle="validator" role="form" action='' method='post' onSubmit="return false;")
							div( class="form-group" )
								label( for="login" ) Ваш E-mail:
								input( type="text" class="form-control" id="login" name="username" required )
							div( class="form-group" )
								button( button type="submit" class="btn btn-primary btn-block btn-md relative" id="submit-recover" ) Отправить
						hr
						h6( class="text-center" ) Для восстановления пароля укажите E-mail, который был указан при регистрации, на него мы вышлем ссылку для восстановления.

		// FOOTER
		include ./includes/footer

		script( src="/js/bootstrap.min.js" )
		script( src="/js/forgotten-password.js" )
