footer
	div.container
		div.row
			div.col-md-12
				div( class="col-md-4 md-text-center" )
					ul( class="footer-links" )
						li
							a(href="/cabinet") Личный кабинет
						li
							a(href="#") Техническая поддержка
						li
							a(href="#") FAQ
				div( class="col-md-4 text-center" )
							ul( class="footer-links" )
								li © MathLab.kz 2017
						div( class="col-md-4 text-right md-text-center" )
							ul( class="footer-links" )
								li Разработка и поддержка: #[a( href="http://quve.kz" target="_blank" ) Quve.kz]