footer
	div.container
		div.row
			div.col-md-12
				div.col-md-7
					ul( class="footer-links" )
						li
							a(href="/") Личный кабинет
						li
							a(href="#") Техническая поддержка
						li
							a(href="#") FAQ
				div.col-md-5.text-right
					ul( class="footer-links" )
						li © MathLab.kz 2017