footer
	div( class="container" )
		div( class="row" )
			div( class="col-md-3" )
				h4 MathLab.kz
				p Это сервис, который специализируется на предоставлении онлайн курсов, при которых для обучающегося подбирается нужный преподаватель, а также составляется индивидуальная программа занятий. Причем репетитор возьмет плату только за свою работу, без учета аренды помещения и транспортных расходов.
				ul( class="footer-links" )
					li
						a( href="https://vk.com/mathlabkz" target="_blank") 
							i( class="fa fa-vk" aria-hidden="true" )
					li
						a( href="https://www.facebook.com/mathlab.kz/" target="_blank" )
							i( class="fa fa-facebook" aria-hidden="true" )
					li
						a( href="https://www.instagram.com/mathlab.kz/" target="_blank" )
							i( class="fa fa-instagram" aria-hidden="true" )
			div( class="col-md-3" )
				h5 Быстрые ссылки
				p 
					a( href="/" ) Главная
				p 
					a( href="/how-to-use" ) Как проходит обучение
				p 
					a( href="/prices" ) Расценки и способы оплаты
				p 
					a( href="/news" ) Новости
				p 
					a( href="/faq" ) FAQ
			div( class="col-md-3" )
				h5 Контактные данные
				h6 Телефоны:
				p +7 (707) 308-53-33 #[br] +7 (777) 794-45-05
				h6 E-mail:
				p mathlab.kz@gmail.com
			div( class="col-md-3" )
				h5 Режим работы
				ul( class="works-time" )
					li Понедельник
						span 9:00 - 19:00
					li Вторник
						span 9:00 - 19:00
					li Среда
						span 9:00 - 19:00
					li Четверг
						span 9:00 - 19:00
					li Пятница
						span 9:00 - 19:00
					li Суббота
						span 9:00 - 15:00
					li Воскресенье
						span Выходной
	hr
	div( class="container" )
		div( class="row" )
			div( class="col-md-6 md-text-center")
				p Все права защищены 2017 © MathLab.kz
			div( class="col-md-6 text-right md-text-center")
				p Разработка и поддержка сервиса:&nbsp;
					a( href="http://quve.kz" target="_blank" ) Quve.kz
