doctype html
html( lang='ru' )
	head

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="" )
		meta( name="author" content="Quve Development" )

		title Ваша почта успешно подтверждена

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/default.css" rel="stylesheet" )

		//Scripts
		script( src="/js/jquery.min.js" )
		script( src="/js/validator.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->

	body

		// NAVBAR
		nav( class="navbar navbar-inverse" )
			div( class="container-fluid" )
				div( class="navbar-header" )
					button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" )
						span( class="sr-only" ) Меню
						span( class="icon-bar" )
						span( class="icon-bar" )
						span( class="icon-bar" )
					a( class="navbar-brand" href="/" )
						img( src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" )
						span(itemprop="brand") MathLab.kz
				div( class="collapse navbar-collapse" id="navbar-collapse" )
					ul( class="nav navbar-nav" )
						li
							a( href="/" )
								i( class="fa fa-home" aria-hidden="true" )
								| &nbsp; Главная
						li
							a( href="/how-to-use" target="_blank" )
								i( class="fa fa-graduation-cap" aria-hidden="true" )
								| &nbsp; Как проходит обучение
						li
							a( href="/prices" target="_blank" )
								i( class="fa fa-usd" aria-hidden="true" )
								| &nbsp; Расценки и способы оплаты
					ul( class="nav navbar-nav navbar-right" )
						li
							a( href="/sign-up" )
								i( class="fa fa-user-plus" aria-hidden="true" )
								| &nbsp; Регистрация

		// CONTENT
		if (valid)
			div( class="container" )
				div( class="row" )
					div( class="col-md-8 col-md-offset-2" )
						div( class="base text-center" )
							img( src="/images/mail-confirm.png" )
							h4 Ваша почта успешно подтверждена
							h5 Теперь Вы можете пользоваться всем функционалом сервиса
							hr
							a( href="/cabinet" class="btn btn-default" ) Вход в личный кабинет
		else 
			div( class="container main-content" )
				div( class="row" )
					div( class="col-md-8 col-md-offset-2" )
						div( class="base text-center" )
							img( src="/images/mail-confirm-err.png" )
							h4 Данный код подтверждения уже не актуален
							h5 Запросите новый код в личном кабинете
							hr
							a( href="/cabinet" class="btn btn-default" ) Вход в личный кабинет

		// FOOTER
		include ./includes/footer

		script( src="/js/bootstrap.min.js" )


