doctype html
html( lang='ru' )
	head
		mata( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )

		title Admin Panel - MathLab.kz

		link( rel="shortcut icon" href="/admin/images/favicon.ico" type="image/x-icon" )

		// Bootstrap Core CSS
		link( href="/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" )

		// Font Awesome
		link( href="/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" )

		//Custom CSS	
		link( href="/admin/css/custom.css" rel="stylesheet" )

		//Scripts
		script( src="/admin/vendors/jquery/dist/jquery.min.js" )
		script( src="/admin/js/viewportchecker.js" )
		script( src="/admin/js/edit-public-page.js" )

	body( class="nav-md" )
		div( class="container body" )
			div( class="main_container" )
				div( class="col-md-3 left_col" )
					div( class="left_col scroll-view" )
						div( class="navbar nav_title" style="border: 0;" )
							a( href="/admin" class="site_title" )
								img( src="/admin/images/logo.svg" )
								span Admin Panel
						div( class="clearfix" )
						br
						include ./includes/sidebar

				include ./includes/navigation

				div( class="right_col" role="main" )
					div( class="row" )
						div( class="col-sm-12" )
							div( class="x_panel" )
								div( class="x_title" )
									h2 Редактирование публичной страницы преподавателя
									div( class="clearfix" )
								form( data-toggle="validator" class="form-horizontal form-label-left" onsubmit="return false" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname" ) ФИО: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											input( type="text" id="fullname" class="form-control col-md-7 col-xs-12" required disabled value="#{teacher.fullname}" )
											div( class="help-block with-errors" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="subject" ) Предмет: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											input( type="text" id="subject" class="form-control col-md-7 col-xs-12" required disabled value="#{teacher.subject}" )
											div( class="help-block with-errors" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="geoposition" ) Местоположение: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											input( type="text" id="geoposition" class="form-control col-md-7 col-xs-12" required placeholder="Например: Алматы, Казахстан")
											div( class="help-block with-errors" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="school" ) Учебное заведение: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											input( type="text" id="school" class="form-control col-md-7 col-xs-12" required placeholder="Например: Специализированный лицей №165")
											div( class="help-block with-errors" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="photo" ) Фотография: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12")
											div( style="width:100%;" )
											input( type="file" name="file" id="photo" class="inputfile form-control" data-multiple-caption="{count} files selected" required)
											label( for="photo" required)
												span( id="photo-span") Выбрать изображение
											div( class="help-block with-errors" id="file-error" style="color: #a94442;")
									div( class="form-group" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="bio" ) Биография: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											textarea( id="bio" class="form-control" required)
											div( class="help-block with-errors" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="about" ) О себе: #[span( class="required" ) *]
										div( class="col-md-6 col-sm-6 col-xs-12" )
											textarea( id="about" class="form-control" required)
											div( class="help-block with-errors" )

									div( class="form-group" )
									div( class="form-group" )
										label( class="control-label col-md-3 col-sm-3 col-xs-12" for="certificates" ) Достижения:
										div( class="col-md-3 col-sm-3")
											p Загруженные сертификаты:
											ul( class="certificates-list")
												li( class="uploaded-certificates")
													i( class="fa fa-file-text-o" aria-hidden="true" style="color: #1abb9c; margin-right: 7px")
													| Учитель года, 2016 
													a( href="#" style="margin-left: 10px;" onClick="deleteUploadedCertificate('<id>')" title="Удалить" )
														i( class="fa fa-trash-o" aria-hidden="true" )
										div( class="col-md-3 col-sm-3 col-xs-12" )
											p Новые сертификаты:
											ul( class="certificates-list" id="certificates-list")
											a( class="btn btn-default btn-sm" onsubmit="return false;" data-toggle="modal" data-target="#addCertificateModal" onClick="  clearModal();")
												i( class="fa fa-plus" aria-hidden="true")  &nbsp;
												| Добавить					

									div( class="ln_solid" )
									div( class="form-group" )
										div( class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" )
											button( class="btn btn-primary" type="reset" onClick="clearForm()") Сбросить
											button( type="submit" class="btn btn-success" onClick="sendData(this)" onsubmit="return false;") Отправить
								div( class="row" )
									div( class="alerts col-md-6 col-md-offset-3" )
									

				footer
					div( class="pull-right" ) Admin Panel - MathLab.kz
					div( class="clearfix" )

			div( id="addCertificateModal" class="modal fade" role="dialog" )
				div( class="modal-dialog")
					div( class="modal-content" )
						div( class="modal-body" )
							form( data-toggle="validator" role="form" onSubmit="return false;")
								div( class="form-group" )
									label( for="certificate-name" ) Название:
									input( type="text" class="form-control" id="certificate-name" name="name" required )
									div( class="help-block with-errors" )
								div( class="form-group" )
									label( for="certificate-image" ) Изображение:
									div( style="width:100%;" )
									input( type="file" name="file" id="certificate-image" class="inputfile form-control" data-multiple-caption="{count} files selected" required)
									label( for="certificate-image" required)
										span( id="certificate-image-span" ) Выбрать изображение
									div( class="help-block with-errors" id="file-error" style="color: #a94442;")
								hr
								div( class="form-group" )
									button( button type="submit" class="btn btn-primary btn-block btn-md" onClick="addCertificate(this)" ) Сохранить

						div( class="modal-footer" ) 
							button( type="button" class="btn btn-default" data-dismiss="modal" ) Закрыть
		
		// Bootstrap
		script( src="/admin/vendors/bootstrap/dist/js/bootstrap.min.js" )
		// FastClick
		script( src="/admin/vendors/fastclick/lib/fastclick.js" )
		// bootstrap-progressbar
		script( src="/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" )
		// bootstrap-daterangepicker
		script( src="/admin/vendors/moment/min/moment.min.js" )
		script( src="/admin/vendors/bootstrap-daterangepicker/daterangepicker.js" )

		// Custom Theme Scripts
		script( src="/admin/js/validator.js" )
		script( src="/admin/js/custom.min.js" )