doctype html
html( lang='ru' )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="Мы предлагаем Вам репетиторские услуги в online режиме по математике, физике и информатике." )
		meta( name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование" )
		meta( name="author" content="Quve Development" )

		title Как проходит обучение

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/animate.css" rel="stylesheet" )
		link( href="/css/default.css" rel="stylesheet" )
		link( href="/css/lightbox.css" rel="stylesheet" )

		// METRICS
		include ../common/metrics

		//Scripts
		script( src="/js/jquery.min.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->
	body( class="landing" )

		// NAVBAR
		include ./includes/navbar

		// CONTENT
		div( class="container main-content" )
			ol( class="breadcrumb" )
				li
					a( href="/" ) Главная
				li( class="active" ) Как проходит обучение
			div( class="page-header" )
				h1 Как проходит обучение
			p После того, как Вы #[a( href="/sign-up" ) зарегистрировались], и подали заявку, в Ваш Личный кабинет на страничку «Активные курсы» приходит первый урок с комментариями учителя и разбором наиболее трудных задач и примеров.
			p Вы решаете урок и отсылаете учителю со своими комментариями. Если что-то не получилось решить, все равно отправляйте домашнее задание! Мы будем ждать его в срок, установленный Вами.
			p Вы попробовали учиться у нас и захотели продолжить обучение? - Тогда ознакомьтесь со способами и условиями оплаты занятий.
			p Для того, чтобы у учителя не возникло проблем с пониманием того, что вы написали, Вы должны соблюдать несколько нехитрых правил:
			ul( style="list-style-type: decimal;" )
				li Писать четко на обычном тетрадном листе.
				li Выполнять каждое задание на отдельном листе.
				li Сфотографировать выполненную работу в хорошем качестве. Фотографии отправить учителю.
				li Если есть необходимость, учитель будет Вам звонить в день получения Вашего задания.
				li Вы также можете позвонить своему учителю и рассказать о затруднениях.
			blockquote 
				p Желаем удачи! #[br] И запомни - для знаний нет преград!
		
		// FOOTER
		include ./includes/footer-main

		script( src="/js/bootstrap.min.js" defer )
		script( src="/js/lightbox.js" )
		span( itemprop="address" style="display: none;" ) Казахстан, Алматы
