doctype html
html( lang='ru' )
	head

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="Вход в личный кабинет системы MathLab." )
		meta( name="author" content="Quve Development" )

		title Авторизация

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/default.css" rel="stylesheet" )

		//Scripts
		script( src="/js/jquery.min.js" )
		script( src="/js/validator.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->

	body

		// NAVBAR
		include ./includes/navbar

		// CONTENT
		div( class="container" )
			div( class="row" )
				div( class="col-md-6 col-md-offset-3" )
					div( class="row form-head" )
						div( class="col-xs-8 nopadding" )
							h3 Вход в личный кабинет
						div( class="col-xs-4 text-right form-head-reg" )
							a( href="/sign-up" ) Регистрация
					div( class="form" )
						form( data-toggle="validator" role="form" action='/login' method='post')
							div( class="form-group" )
								label( for="login" ) Ваш E-mail:
								input( type="text" class="form-control" id="login" name="username" required )
							div( class="form-group" )
								label( for="password" ) Ваш пароль:
								input( type="password" class="form-control" id="password" name="password" required )
								div( class="help-block" )
									a( href="/recover" ) Забыли пароль?
							div( class="form-group" )
								button( button type="submit" class="btn btn-primary btn-block btn-md" id="submit23" ) Войти
							if (message != '')
								div( class="alert alert-warning alert-dismissable text-center" )
									a( href="#" class="close" data-dismiss="alert" aria-label="close") &times;
									|	Неверный логин или пароль, попробуйте еще раз.
						hr
						h6( class="text-center" ) Войдите или зарегиструйтесь всего за один клик.
						ul( class="list-inline text-center" )
							li: a( href="#" class="btn btn-default btn-block" )
								span( style="color: #45668F;") ВКонтакте

		// FOOTER
		include ./includes/footer

		script( src="/js/bootstrap.min.js" )

		// METRICS
		include ./includes/metrics
